PORT=3030
DB_PATH=/data/lifeos.db
WEALTHCANVAS_URL=http://192.168.86.212:3000
LEGO_STUDIO_URL=http://192.168.86.211:8080
OBSIDIAN_URL=https://192.168.86.202:27124
OBSIDIAN_TOKEN=your_obsidian_token_here
OPENCLAW_GATEWAY_URL=http://your_openclaw_gateway_here
OPENCLAW_AGENT_ID=main
